server:
  port: 8080 # Puerto de entrada unificado

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Permite rutas automáticas, pero definiremos manuales para control
      routes:
        # --- Ruta al Servicio de Pedidos ---
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/order/** # Todo lo que empiece por esto va a Order
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10  # Cuántas peticiones rellena por segundo
                redis-rate-limiter.burstCapacity: 20  # Pico máximo permitido
                key-resolver: "#{@userKeyResolver}"   # Bean de Java que define "quién" es el usuario

        # --- Ruta al Servicio de Inventario ---
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventory/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0 # IMPORTANTE: En Prod se usa 0.1, en Dev usamos 1.0 para verlo todo
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans # La URL del contenedor Zipkin