server:
  port: 8081

spring:
  application:
    name: order-service # ID para Eureka y Feign
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:order_db
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    template:
      default-topic: notificationTopic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: event:com.microservices.decoding.orderservice.event.OrderPlacedEvent


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/