server:
  port: 8081

spring:
  application:
    name: order-service # ID para Eureka y Feign
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:order_db
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    template:
      default-topic: notificationTopic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: event:com.microservices.decoding.orderservice.event.OrderPlacedEvent

  # Configuración de Resilience4j
  resilience4j:
    circuitbreaker:
      instances:
        inventory: # Nombre de nuestra instancia de cortocircuito
          registerHealthIndicator: true
          eventConsumerBufferSize: 10
          slidingWindowType: COUNT_BASED
          slidingWindowSize: 5        # Mira las últimas 5 peticiones
          failureRateThreshold: 50    # Si el 50% falla (2.5 peticiones), abre el circuito
          waitDurationInOpenState: 5s # Espera 5 segundos antes de intentar cerrar el circuito de nuevo
          permittedNumberOfCallsInHalfOpenState: 3
          automaticTransitionFromOpenToHalfOpenEnabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0 # IMPORTANTE: En Prod se usa 0.1, en Dev usamos 1.0 para verlo todo
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans # La URL del contenedor Zipkin