server:
  port: 8081

spring:
  application:
    name: order-service # ID para Eureka y Feign
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:order_db
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/